@charset "utf-8";
/*--------------------- localNavi ---------------------*/
		#localNavi{width:920px; height:60px; background-color: #ddd; 
							padding:10px 20px; }
		#localNavi>li{width:60px; height:60px; background-color:#dd99dd;
							float:left; margin-right:26px;}
		#localNavi>.lnf{margin-right:0;}